body { font-family: sans-serif; }

.carousel-cell { width: 100%; /* full width */ height: 45vh; /* height of carousel */ min-height: 200px; margin-right: 10px; }

.container { max-width: 1200px; margin: 0 auto; text-align: center; height: 100%; background-size: cover; background-position: center; }

.container h2, .container p { color: #fff; margin: 0; padding-top: 5px; background-color: rgba(20, 19, 19, 0.5); }

.button--restart { display: block; margin: 5px auto; padding: 5px; color: #fff; background-color: #228b22; border-style: none; border-radius: 4px; border-color: #228b22; transition: .3s; box-shadow: none; }

.button--restart:hover, .button--restart:active { border-color: #0eaf0e; background-color: #0eaf0e; }

.progress-bar { height: 20px; width: 0; background: #333; }

.flickity-page-dots { bottom: -40px; }

#map { height: 45vh; width: 100%; }
